::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: var(--background);
}
  
::-webkit-scrollbar-thumb {
    background-color: var(--main);
}
  
body {
    background-color: var(--background);
    color: var(--text-color-main);
    font-family: var(--font);
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    overflow-y: scroll;
    scrollbar-color: var(--main) var(--background);
    font-size: 1.3rem;
}
  
a {
    text-decoration: none;
    color: var(--main-secondary);
}
  
a:hover {
    text-decoration: underline;
}
  
#main-wrapper {
    max-width: 1000px;
    width: calc(90% - 100px);
    padding: 50px;
}
  
h1 {
    margin-top: 20px;
    border-bottom: 3px solid var(--text-color-secondary);
    font-size: 3rem;
}
  
h2 {
    border-bottom: 1.5px solid var(--text-color-secondary);
    font-size: 2.5rem;
}
  
p {
    text-align: justify;
}

.picture-with-caption {
    height: fit-content;
    margin: 15px;
    width: 400px;
    max-width: calc(100% - 10px);
}

.picture-with-caption > img {
    margin: 0px 0px 10px 0px;
    object-fit: contain;
    width: 100%;
}

.picture-with-caption > figcaption {
    font-size: 1.1rem;
    color: var(--text-color-secondary);
}

.picture-with-caption.right {
    float: right;
}

.picture-with-caption.left {
    float: left;
}
  
@media(max-width: 420px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.7rem;
    }
    #main-wrapper {
        max-width: unset;
        min-width: unset;
        width: calc(100% - 40px);
        padding: 20px;
    }
    .picture-with-caption {
        margin: 0;
        width: 100%;
        max-width: unset;
        float: unset;
    }
}