::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: var(--background);
}
  
::-webkit-scrollbar-thumb {
    background-color: var(--main);
}
  
body {
    /*background: linear-gradient(to bottom, var(--main-secondary) 150px, var(--background) 150px);*/
    background-color: var(--background);
    color: var(--text-color-main);
    font-family: var(--font);
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    overflow-y: scroll;
    scrollbar-color: var(--main) var(--background);
    font-size: 1.3rem;
}
  
a {
    text-decoration: none;
    color: var(--main-secondary);
}
  
a:hover {
    text-decoration: underline;
}
  
#main-wrapper {
    max-width: 1000px;
    width: calc(90% - 100px);
    padding: 50px;
    height: fit-content;
}

#footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
  
h1 {
    margin-top: 20px;
    border-bottom: 4px solid var(--main);
    font-size: 3rem;
}
  
h2 {
    border-bottom: 2px solid var(--main);
    font-size: 2.5rem;
}

h3 {
    color: var(--main-secondary);
}
  
p {
    text-align: justify;
}


.paragraph-wrapper {
    overflow: hidden;
}

.picture-with-caption {
    height: fit-content;
    margin: 15px;
    padding: 15px;
    width: 400px;
    max-width: calc(100% - 30px);
    background-color: var(--main);
    border-radius: calc(var(--border-radius) + 15px);
}

.picture-with-caption > img {
    margin: 0px 0px 10px 0px;
    object-fit: contain;
    width: 100%;
    border-radius: var(--border-radius);
}

.picture-with-caption > figcaption {
    font-size: 1.1rem;
    color: var(--text-color-figcaption);
}

.picture-with-caption > figcaption > a {
    color: var(--text-color-figcaption);
    opacity: 80%;
}

.picture-with-caption.right {
    float: right;
}

.picture-with-caption.left {
    float: left;
}

.picture-with-caption.image-opened {
    width: calc(100vw - 30px);
    height: calc(100vh - 30px);
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    border: none;
}

.picture-with-caption.image-opened > img {
    max-height: calc(100vh - 80px);
}
  
@media(max-width: 420px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.7rem;
    }
    #main-wrapper {
        max-width: unset;
        min-width: unset;
        width: calc(100% - 40px);
        padding: 20px;
    }
    .picture-with-caption {
        margin: 0;
        width: calc(100% - 30px);
        max-width: unset;
        float: unset;
    }
}