.picture-with-caption {
    height: fit-content;
    margin: 15px;
}

.picture-with-caption > figcaption {
    font-size: 1.1rem;
    color: var(--text-color-secondary);
}

.picture-with-caption.right {
    float: right;
}