.picture-with-caption {
    height: fit-content;
    margin: 15px;
}

.picture-with-caption > img {
    margin: 0px 0px 10px 0px;
}

.picture-with-caption > figcaption {
    font-size: 1.1rem;
    color: var(--text-color-secondary);
}

.picture-with-caption.right {
    float: right;
}

.picture-with-caption.left {
    float: left;
}