@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(/klimaprojekt/assets/MaterialIcons-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    src: local('Mulish'),
        local('Mulish'),
        url(/klimaprojekt/assets/Mulish-VariableFont_wght.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

:root {
  --text-color-main: #292929;
  --text-color-secondary: #494949;
  --text-color-figcaption: #292929;
  --background: #d3d3d3;
  --main: #34af72;
  --main-secondary: #3fd58a;
  --font: 'Mulish', sans-serif;
  --border-radius: 5px;
}

@media(prefers-color-scheme:dark) {
  :root {
    --text-color-main: #fbfbfb;
    --text-color-secondary: #d3d3d3;
    --background: #353535;
  }
}
